.nav-link {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.nav-item {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.welcome-text {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.username {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 21px 0px 21px 0px;
  align-items: center;
}

.header-left {
  display: flex;
  gap: 81px;
  align-items: center;
}

.header-right {
  display: flex;
  gap: 50px;
}

.nav-menu {
  display: flex;
  gap: 50px;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
}

.dropdown-change-background {
  background-color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 190px;
  padding: 61px 0px 63px 0px;
}

.contact-list-footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.contact-footer {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
}

.footer-logo {
  width: 165px;
  height: 70px;
}

.footer-input {
  border-radius: 20px;
  background: rgb(215, 215, 215);
  color: rgb(126, 126, 126);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  padding: 10px 80px 10px 10px;
  width: 204px;
  outline: none;
}

.footer-button {
  color: rgb(255, 255, 255);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  padding: 10px;
  border-radius: 20px;
  background: rgb(0, 0, 0);
}

.footer-email {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-label {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.footer-text {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 6px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.game__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 36px 0px 36px 0px;
  position: relative;
}

.main-line {
  width: 536px;
  height: 1px;
  border: 1px solid rgb(0, 0, 0);
}

.team__container,
.scientists__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px 0px 36px 0px;
}

main {
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game, .scientists-section, .team-section {
  background-color: white;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body,
html {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  border: none;
}

input,
button {
  padding: 0;
  margin: 0;
}

.hero__input {
  color: rgb(126, 126, 126);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  width: 169px;
  padding: 10px 90px 10px 10px;
  border-radius: 20px;
  background: rgb(215, 215, 215);
  outline: none;
}

.hero__button {
  color: rgb(255, 255, 255);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(0, 0, 0);
}

.hero__welcome {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

.hero {
  border-radius: 20px;
  background: rgb(255, 255, 255);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.hero__form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.container {
  width: 1090px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 0px 0px 0px;
}

.welcome-title {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  padding: 0px 0px 36px 0px;
}

.game-guess-number-result-content {
  display: flex;
  gap: 5px;
}

.game__title {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.game__input {
  color: rgb(126, 126, 126);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.game__result {
  color: rgb(3, 153, 0);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.game__result-incorrect {
  color: rgb(153, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.game__button {
  color: rgb(255, 255, 255);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.scorebooard__title,
.scorebooard__line {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.team__name {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.team__work {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.team__title {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.team__photo {
  border-radius: 20px;
  background: rgb(217, 217, 217);
  width: 150px;
  height: 150px;
  border-color: rgb(217, 217, 217);
  background-repeat: no-repeat;
  background-size: cover;
}

.team__controls {
  display: flex;
  flex-direction: row;
  gap: 328px;
  padding: 36px 0px 20px 0px;
  justify-content: center;
  min-width: 0;
}

.team-arrows {
  width: 50px;
  height: 100px;
}

.team-class-delete-background {
  background-color: white;
}

.team__slider-button {
  border-radius: 3px;
  height: 3px;
  background-color: #d9d9d9;
  width: 18px;
}

.team__slider-button:hover {
  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: width, color;
}

.active {
  width: 30px;
  background-color: #797979;
}

.team__slider {
  display: flex;
  gap: 6px;
  padding: 24px 0px 0px 0px;
}

.team__manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.game__content {
  display: flex;
  gap: 150px;
  align-items: center;
}

.game__button {
  padding: 10px;
  width: 35px;
  height: 35px;
  border-radius: 0px 20px 20px 0px;
  background: rgb(0, 0, 0);
}

.game__input-group {
  display: flex;
  align-items: center;
}

.game__input {
  background: rgb(215, 215, 215);
  padding: 10px;
  width: 215px;
  height: 35px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  outline: none;
}

.change-size-first {
  width: 180px;
}

.change-size-second {
  width: 115px;
}

.change-size-content {
  display: flex;
  gap: 200px;
  align-items: center;
}

.change-rps-content {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.game__computer-result {
  border-radius: 20px;
  background: rgb(0, 0, 0);
  padding: 10px 20px 10px 20px;
  color: rgb(255, 255, 255);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.rps-button {
  background-color: inherit;
}

.rps__icon {
  border-radius: 20px;
  background: rgb(0, 0, 0);
  padding: 10px;
}

.rps__choices {
  display: flex;
  gap: 38px;
}

.game__play {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.rps-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
}

.rps__scoreboard {
  position: absolute;
  right: 220px;
}

.calc__op {
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(0, 0, 0);
  padding: 5px 10px 5px 10px;
  color: rgb(255, 255, 255);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.calc__operators {
  display: flex;
  gap: 10px;
}

.calc__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change-input-first-calculator {
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(215, 215, 215);
  text-align: center;
}

.change-width-input-calculator-first {
  width: 135px;
}

.change-width-input-calculator-second {
  width: 118px;
}

.calc__equals {
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(0, 0, 0);
  padding: 5px 10px 5px 10px;
  color: rgb(255, 255, 255);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  width: 27px;
  height: 25px;
}

.calculator-content {
  display: flex;
  gap: 38px;
}

.calc__result-block {
  display: flex;
  flex-direction: row;
  gap: 38px;
  align-items: center;
}

.time-calculator__content {
  display: flex;
  gap: 33px;
}

.time-calculator__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-calculator__input {
  width: 115px;
}

.game__field {
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 37px;
  background: rgb(90, 187, 88);
  width: 720px;
  height: 220px;
  position: relative;
}

.football-object {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: grab;
}

.change-input-maxnumber-first {
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(215, 215, 215);
  width: 135px;
  padding: 10px 20px 10px 20px;
}

.max-number-label-group {
  display: flex;
  flex-direction: row;
  gap: 38px;
}

.scientists__item {
  border-radius: 20px;
  background: rgb(217, 217, 217);
  width: 100px;
  height: 100px;
}

.scientists__list {
  display: flex;
  gap: 60px;
  padding: 36px 0px 36px 0px;
}

.scientists__item-section {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.scientists__button {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.scientists__actions {
  display: flex;
  flex-direction: row;
  gap: 36px;
  padding: 0px 0px 20px 0px;
}

.scientists__group-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.scientists__group-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.change-size-scientists-one {
  width: 227px;
}

.change-size-scientists-two {
  width: 282px;
}

.change-size-scientists-three {
  width: 380px;
}

.change-size-scientists-four {
  width: 329px;
}

.change-size-scientists-five {
  width: 298px;
}

.change-size-scientists-six {
  width: 425px;
}

.change-size-scientists-seven {
  width: 380px;
  text-align: left;
}

.change-size-scientists-eight {
  width: 368px;
  text-align: left;
}

.change-size-scientists-nine {
  width: 489px;
}

.scientists-name,
.scientists-dob {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: center;
}

.scientists__item {
  border-radius: 20px;
  background: rgb(217, 217, 217);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.scientists__title {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.btnResultSci {
  background-color: greenyellow;
}

.btnNegativeResultSci {
  background-color: red;
}