.nav-link {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.nav-item {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.welcome-text {
  color: rgba(0, 0, 0, 1);

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.username {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 21px 0px 21px 0px;
  align-items: center;
}

.header-left {
  display: flex;
  gap: 81px;
  align-items: center;
}

.header-right {
  display: flex;
  gap: 50px;
}

.nav-menu {
  display: flex;
  gap: 50px;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
}

.dropdown-change-background {
  background-color: white;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 10px 0px;
  position: absolute;
}

.dropdown-item {
  color: rgba(0, 0, 0, 1);

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
}

.dropdown-btn {
  background-color: inherit;
  box-sizing: border-box;
  border-left: 1px solid rgba(0, 0, 0, 1);
  border-right: 1px solid rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
  width: 115px;
  height: 35px;
}

.dropdown-btn:hover {
  background-color: #f1f1f1;
  transition-duration: 250ms;
  transition-property: btn;
  transition-timing-function: linear;
}

.dropdown-lastObj {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-left: 1px solid rgba(0, 0, 0, 1);
  border-right: 1px solid rgba(0, 0, 0, 1);
  border-radius: 0px 0px 20px 20px;
  background: rgba(255, 255, 255, 1);

  background-color: inherit;
}

.show {
  display: none;
}
