.hero__input {
  color: rgba(126, 126, 126, 1);

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  width: 169px;
  padding: 10px 90px 10px 10px;
  border-radius: 20px;
  background: rgba(215, 215, 215, 1);
  outline: none;
}

.hero__button {
  color: rgba(255, 255, 255, 1);

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 1);
}

.hero__welcome {
  color: rgba(0, 0, 0, 1);

  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  width: 392px;
  height: 60px;
  text-align: center;
}

.hero {
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  background-color: white;
  width: 576px;
  height: 316px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/sword.png), url(/images/game-development.png),
    url(/images/puzzle.png), url(/images/tic-tac-toe.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: top 150px left 40px, top 150px right 40px,
    top 230px left 100px, top 230px right 100px;
}

.hero {
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 30px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__btnClose {
  background: rgba(0, 0, 0, 0.7);
}

.hero__btnClose {
  background-color: inherit;
  padding: 0px 0px 40px 0px;
  margin-left: 480px;
}

.animationModal {
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-property: all;
}

.animationEndModal {
  opacity: 1;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.hero__btnPh {
  display: flex;
  gap: 120px;
}

// subscribe

.subscribe {
  width: 463px;
  height: 245px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  background-image: url(/images/sword.png), url(/images/game-development.png),
    url(/images/puzzle.png), url(/images/tic-tac-toe.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: top 100px left 40px, top 100px right 40px,
    top 180px left 100px, top 180px right 100px;
}

.subscribe__Ph2 {
  display: flex;
  gap: 230px;
}

.animationModalSubscribe {
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-property: all;
}

.animationModalSubscribeEnd {
  opacity: 1;
}

.subscribe {
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 75px;
}

.subscribe__btn {
  background-color: inherit;
  margin-left: 360px;
}
