@use "./header";
@use "./footer";
@use "./container";
@use "./reset";
@use "./modal-window";

.container {
  width: 1090px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 0px 0px 0px;
}

.welcome-title {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  padding: 0px 0px 36px 0px;
}

// game-section and other classes for elements

.game-guess-number-result-content {
  display: flex;
  gap: 5px;
}

.game__title {
  color: rgba(0, 0, 0, 1);

  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.game__input {
  color: rgba(126, 126, 126, 1);

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

// correct or not correct

.game__result {
  color: rgba(3, 153, 0, 1);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.game__result-incorrect {
  color: rgba(153, 0, 0, 1);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.game__button {
  color: rgba(255, 255, 255, 1);

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

// .game--leap-year {
//   padding: 36px 0px 0px 0px;
// }

// scoreboard-section

.scorebooard__title,
.scorebooard__line {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

// team-section

.team__name {
  color: rgba(0, 0, 0, 1);

  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.team__work {
  color: rgba(0, 0, 0, 1);

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.team__title {
  color: rgba(0, 0, 0, 1);

  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.team__photo {
  border-radius: 20px;
  background: rgba(217, 217, 217, 1);
  width: 150px;
  height: 150px;
  border-color: rgba(217, 217, 217, 1);
  background-repeat: no-repeat;
  background-size: cover;
}

.team__controls {
  display: flex;
  flex-direction: row;
  gap: 328px;
  padding: 36px 0px 20px 0px;
}

.team-arrows {
  width: 50px;
  height: 100px;
}

.team-class-delete-background {
  background-color: white;
}

.team__slider-button {
  border-radius: 3px;
  height: 3px;
  background-color: #d9d9d9;
  width: 18px;
}

.team__slider-button:hover {
  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: width, color;
}

.active {
  width: 30px;
  background-color: #797979;
}

.team__slider {
  display: flex;
  gap: 6px;
  padding: 24px 0px 0px 0px;
}

.team__manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

// main styles, flex, boarders and e.t.c

// inputs

.game__content {
  display: flex;
  gap: 150px;
  align-items: center;
}

.game__button {
  padding: 10px;
  width: 35px;
  height: 35px;
  border-radius: 0px 20px 20px 0px;
  background: rgba(0, 0, 0, 1);
}

.game__input-group {
  display: flex;
  align-items: center;
}

.game__input {
  background: rgba(215, 215, 215, 1);
  padding: 10px;
  width: 215px;
  height: 35px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  outline: none;
}

// changing-sizes

.change-size-first {
  width: 180px;
}

.change-size-second {
  width: 115px;
}

.change-size-content {
  display: flex;
  gap: 200px;
  align-items: center;
}

.change-rps-content {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

// game with computer

.game__computer-result {
  border-radius: 20px;
  background: rgba(0, 0, 0, 1);
  padding: 10px 20px 10px 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.rps-button {
  background-color: inherit;
}

.rps__icon {
  border-radius: 20px;
  background: rgba(0, 0, 0, 1);
  padding: 10px;
}

.rps__choices {
  display: flex;
  gap: 38px;
}

.game__play {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.rps-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
}

.rps__scoreboard {
  position: absolute;
  right: 220px;
}

// calculator

.calc__op {
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 1);
  padding: 5px 10px 5px 10px;
  color: rgba(255, 255, 255, 1);

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.calc__operators {
  display: flex;
  gap: 10px;
}

.calc__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change-input-first-calculator {
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgba(215, 215, 215, 1);
  text-align: center;
}

.change-width-input-calculator-first {
  width: 135px;
}

.change-width-input-calculator-second {
  width: 118px;
}

.calc__equals {
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 1);
  padding: 5px 10px 5px 10px;
  color: rgba(255, 255, 255, 1);

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  width: 27px;
  height: 25px;
}

.calculator-content {
  display: flex;
  gap: 38px;
}

.calc__result-block {
  display: flex;
  flex-direction: row;
  gap: 38px;
  align-items: center;
}

// time calculator

.time-calculator__content {
  display: flex;
  gap: 33px;
}

.time-calculator__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-calculator__input {
  width: 115px;
}

// football-game

.game__field {
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 37px;
  background: rgba(90, 187, 88, 1);
  width: 720px;
  height: 220px;
  position: relative;
}

.football-object {
  position: absolute;
  user-select: none;
  cursor: grab;
}

// maxnumber

.change-input-maxnumber-first {
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgba(215, 215, 215, 1);
  width: 135px;
  padding: 10px 20px 10px 20px;
}

.max-number-label-group {
  display: flex;
  flex-direction: row;
  gap: 38px;
}

// scientists-section

.scientists__item {
  border-radius: 20px;
  background: rgba(217, 217, 217, 1);
  width: 100px;
  height: 100px;
}

.scientists__list {
  display: flex;
  gap: 60px;
  padding: 36px 0px 36px 0px;
}

.scientists__item-section {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.scientists__button {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.scientists__actions {
  display: flex;
  flex-direction: row;
  gap: 36px;
  padding: 0px 0px 20px 0px;
}

.scientists__group-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.scientists__group-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.change-size-scientists-one {
  width: 227px;
}

.change-size-scientists-two {
  width: 282px;
}

.change-size-scientists-three {
  width: 380px;
}

.change-size-scientists-four {
  width: 329px;
}

.change-size-scientists-five {
  width: 298px;
}

.change-size-scientists-six {
  width: 425px;
}
.change-size-scientists-seven {
  width: 380px;
  text-align: left;
}
.change-size-scientists-eight {
  width: 368px;
  text-align: left;
}

.change-size-scientists-nine {
  width: 489px;
}

.scientists-name,
.scientists-dob {
  color: rgba(0, 0, 0, 1);

  font-family: Montserrat Alternates;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: center;
}

.scientists__item {
  border-radius: 20px;
  background: rgba(217, 217, 217, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.scientists__title {
  color: rgba(0, 0, 0, 1);

  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
